@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    

}
form{
    
    width: 24vw;
    padding: 35px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: Roboto;
}
.logo{
    height: 50px;
}
.login-head{
    font-family: Roboto;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.login-form-label{
    font-weight: 600;
    font-size: 15px;
}
.login-input-class1{
    width: 100%;
    height: 35px;
    border: solid 0.5px rgb(181, 179, 179);
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 18px;
    
}
.login-input-class2{
    width: 100%;
    height: 35px;
    border: solid 0.5px rgb(181, 179, 179);
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.remember-me-container{
    display: flex;
    align-items: center;
    gap: 2px;
}
.remeber-me-checkbox{
    font-size: 15px;
}
.forgot-password a{
    font-size: 15px;
    text-decoration: none;
}
.remeber-forgot-password-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px;
}
.horizontalline-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 20px;
   
    
}
.hr1{
 width: 100%;
}
.sign-in-social-btn{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}
.google-btn{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.g-img{
    height: 50%;
    
    width: fit-content;
}
.Apple-btn{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.apple-logo{
    height: 50%;
    width: fit-content;
}
.ms-logo{
    height: 50%;
    width: fit-content;
}
.Microsoft-btn{
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.new-user-para{
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}
.parking-new{
    text-align: center;
    font-size: 14px;
    margin-top: 7px;
}
.btn-login{
    width:100%;
    color: rgba(255, 255, 255, 0.763);
    height: 31px;
    border: none;
    border-radius: 5px;
    background-color: #ff5d5d;
}