@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.user-form-con{
    width: 24%;
    padding: 34px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: Roboto;
}
.logo{
    height: 50px;
}
.login-head{
    font-family: Roboto;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.user-form label{
    font-weight: 600;
    font-size: 14px;
}
.user-form label input{
    width: 100%;
    height: 34px;
    border: solid 0.5px rgb(181, 179, 179);
    outline: none;
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 18px;
}
.remember-me-container{
    display: flex;
    align-items: center;
    gap: 2px;
}
.remember-me-container label{
    font-size: 14px;
}
.forgot-password a{
    font-size: 14px;
}
a{
    text-decoration: none;
}
.rem-fp-con{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sign-in-btn{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.google-btn{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.apple-btn{
    background-color: black;
    color: white;
}
.microsoft-btn{
    margin-bottom: 16px;
    background-color: rgb(190, 188, 188);
}
.social-logo{
    height: 50%;
    width: fit-content;
}
.parking-new{
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
}
.btn-login{
    color: rgb(243, 242, 242);
    background-color: #ff5d5d;
    margin-bottom: 10px;
}
.or-con{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    gap: 16px;
}
.or-con::before , .or-con::after{
    border-bottom: solid 1px black;
    content: "";
    flex: 1;   
}